<form {{action 'save' on='submit'}}>

nombre
{{input type='text' value=nombreEvento}}

inicio
{{input type='date' value=inicioEvento}}

fin
{{input type='date' value=finEvento}}

<button>Guardar</button>

</form>
