<p>Este es el HBS de lista de eventos</p>


<ul>
	{{#each model as |evento|}}
		{{!--  --}}
		<li>
			{{#link-to 'evento-detail' evento.id tagName='button'}}
				{{evento.nombre}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>

